<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./refer/head.ejs')%>
    <script>
        function detail_history(_no){
            location.href = '/block/answer_list?no='+_no
        }
    </script>
</head>
<body>
    <%- include('./refer/menu.ejs')%>
    <div class="container">
        <h1>등록된 설문 리스트</h1>
        <div class="container">
            <table class="table" style="width:50%">
                <tr>
                    <th>No</th>
                    <th>첫 질문</th>
                </tr>
                <!-- DB에 저장된 설문 내역  -->
                <% for (let i = 0; i < data_list.length;i++){%>
                    <tr onclick="detail_history(<%=data_list[i]['no']%>)">
                        <td><%=data_list[i]['no']%></td>
                        <td><%=data_list[i]['q1']%></td>
                    </tr>
                <%}%>
            </table>
        </div>
    </div>
</body>
</html>