<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function view_content(_no){
            // 다른 주소를 요청 
            location.href = "/board/view_content?no="+_no
        }
    </script>
</head>
<body>
    <!-- 글 쓰기 버튼 생성 -->
    <a href="/board/add_content">글 쓰기</a><br>
    <!-- 글의 목록이 나타나는 테이블을 생성 -->
    <table border=1>
        <!-- 첫 행을 추가 -->
        <tr>
            <th>글번호</th>
            <th>글 제목</th>
            <th>작성자</th>
            <th>작성 시간</th>
        </tr>
        <!-- 게시글의 목록
            contents = {
                '1' : {
                    title : xxxx,
                    writer : xxxxx, 
                    time : xxxxx, 
                    content : xxxxx
                }, 
                '2' : {
                    title : xxxx,
                    writer : xxxxx, 
                    time : xxxxx, 
                    content : xxxxx
                }
            }
        -->
        <% for (let i = 0; i < Object.keys(contents).length;i++) {%>
        <tr>
            <td>
                <% let key =  Object.keys(contents)[i]%>
                <%=key%>
            </td>
            <td onclick="view_content('<%=key%>')">
                <%=contents[key].title%>
            </td>
            <td>
                <%=contents[key].writer%>
            </td>
            <td>
                <%=contents[key].time%>
            </td>
        </tr>
        <% } %>
    </table>
</body>
</html>