<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include ('./refer/head.ejs')%>
    <script src="/js/xlsx.full.min.js"></script>
    <script src="/js/FileSaver.js"></script>
    <script>
        function search(){
            // id가 year, month 인 태그를 선택하여 value를 추출
            const start_year = $('#start_year').val()
            const start_month = $('#start_month').val()
            const select = $('#select').val()
            // 비동기 통신을 이용하여 데이터를 로드 
            $.ajax({
                url : '/book/select_month', 
                method : 'get', 
                dataType : 'json', 
                data : {
                    '_start_year' : start_year, 
                    '_start_month' : start_month
                } 
            })
            .done(function(result){
                // result[0] : 매입 거래처별 합산
                // result[1] : 매출 거래처별 합산
                // result[2] : 매입 총 거래 금액
                // result[3] : 매입 총 부가세
                // result[4] : 매출 총 거래 금액
                // result[5] : 매출 총 부가세
                // result[6] : 순 매출
                // console.log(result[0])

                let html_data = ""

                html_data += `                        
                
                    <button class='btn btn-primary' onclick='saveExcel()'>Excel Download</button>
                    <table class='table' id='mytable'>
                        <tr>
                            <th colspan='6'>${start_year}년${start_month}월 합산 장부</th>
                        </tr>
                        <tr>
                            <th colspan='6'>매입</th>
                        </tr>
                        <tr>
                            <td>거래처</td>
                            <td>물품명</td>
                            <td>단가</td>
                            <td>총 개수</td>
                            <td>총 거래금액</td>
                            <td>부가세</td>
                        </tr>
                `
                // console.log(1, html_data)
                // 매입 거래처별 합산을 테이블에 추가 
                for(let i = 0; i < result[0].length; i++){
                    html_data += `
                        <tr>
                            <td>${result[0][i]['bisiness']}</td>
                            <td>${result[0][i]['unit_name']}</td>
                            <td>${result[0][i]['sold']}</td>
                            <td>${result[0][i]['amount']}</td>
                            <td>${result[0][i]['cost']}</td>
                            <td>${result[0][i]['vat']}</td>
                        </tr>
                    `
                }

                // console.log(2, html_data)
                html_data += `
                <tr>
                    <th colspan='6'>매출</th>
                </tr>
                <tr>
                    <td>거래처</td>
                    <td>물품명</td>
                    <td>단가</td>
                    <td>총 개수</td>
                    <td>총 거래금액</td>
                    <td>부가세</td>
                </tr>
                `
                // 매출 거래처별 합산을 테이블에 추가 
                for(let i = 0; i < result[1].length; i++){
                    html_data += `
                        <tr>
                            <td>${result[1][i]['bisiness']}</td>
                            <td>${result[1][i]['unit_name']}</td>
                            <td>${result[1][i]['sold']}</td>
                            <td>${result[1][i]['amount']}</td>
                            <td>${result[1][i]['cost']}</td>
                            <td>${result[1][i]['vat']}</td>
                        </tr>
                    `
                }
                
                // console.log(3, html_data)
                html_data += `
                    <tr>
                        <td colspan='3'>총 매입금액</td>
                        <td colspan='3'>총 매출금액</td>
                    </tr>
                    <tr>
                        <td colspan='3'>${result[2]}</td>
                        <td colspan='3'>${result[4]}</td>
                    </tr>
                    <tr>
                        <td colspan='3'>총 부가세(매입)</td>
                        <td colspan='3'>총 부가세(매출)</td>
                    </tr>
                    <tr>
                        <td colspan='3'>${result[3]}</td>
                        <td colspan='3'>${result[5]}</td>
                    </tr>
                    <tr>
                        <td colspan='6'>총 매출</td>
                    </tr>
                    <tr>
                        <td colspan='6'>${result[6]}</td>
                    </tr>
                </table>        
                `
                
                // console.log(4, html_data)
                $('#month_list').html(html_data)
            })
             
        }

        function saveExcel(){
            // 파일명을 생성(기간)
            const start_year = $('#start_year').val()
            const start_month = $('#start_month').val()
            const filename = `${start_year}-${start_month} 합산 장부.xlsx`
            
            const wb = XLSX.utils.table_to_book(document.getElementById('mytable'), {raw:true})

            XLSX.writeFile(wb, (filename))
        }
    </script>
    <style>
        .off-screen{
            display: none;
        }

        #nav {
            width: 600px;
            text-align: center;
        }
        #nav a{
            display: inline-block;
            padding : 3px 5px;
            margin-right: 5px;
            background: white;
            color : black;
            text-decoration: none;
        }
        #nav a.active{
            background:black;
            color:white;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="input-group mb-3">
            <span class="input-group-text" id="input_year1">년도</span>
            <select class="form-select" id="start_year" aria-describedby="input_year1">
                <!-- 반복문을 이용하여 option 생성 -->
                <% for(let i = year-3; i < year+1; i++){ %>
                    <% if (i == year) {%>
                        <option value="<%=i%>" selected><%=i%></option>
                    <%} else{%>
                        <option value="<%=i%>"><%=i%></option>
                    <%}%>
                <%}%>
            </select>    
            <span class="input-group-text" id="input_month1">월</span>
            <select class="form-select" id="start_month" aria-describedby="input_month1">
                <% for(let i = 1; i < 13; i++){ %>
                    <%if (i == month){%>
                        <option value="<%=i%>" selected><%=i%></option>
                    <%} else{%>
                        <option value="<%=i%>"><%=i%></option>
                    <%}%>
                <% } %>
            </select> 
            <button class="btn btn-primary" onclick="search()"> 조회</button>
        </div>

        <div id="month_list" class="container">
        </div>
    </div>


</body>
</html>