<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('refer/head.ejs') %>
</head>
<body>
    <h1>장부 데이터를 체크</h1>
    <table class="table">
        <thead>
            <tr>
                <th rowspan="2">기준년월</th>
                <th colspan="2">총 부가세(매입)</th>
                <th colspan="2">총 거래 금액(매입)</th>
                <th colspan="2">총 부가세(매출)</th>
                <th colspan="2">총 거래 금액(매출)</th>
                <th colspan="2">총 매출</th>
                <th rowspan="2">일치여부</th>
                <th rowspan="2">등록자</th>
            </tr>
            <tr>
                <th>DB</th>
                <th>BlockChain</th>
                <th>DB</th>
                <th>BlockChain</th>
                <th>DB</th>
                <th>BlockChain</th>
                <th>DB</th>
                <th>BlockChain</th>
                <th>DB</th>
                <th>BlockChain</th>
            </tr>
        </thead>
        <tbody>
            <!-- ejs 엔진에서 자바스크립트 코드로 인식하는 태그 -->
            <% for (let i = 0; i < bc_data.length; i++) {%>
                <tr>
                    <td><%=date[i]%></td>
                    <td><%=db_data[i][0]%></td>
                    <td><%=bc_data[i][0]%></td>
                    <td><%=db_data[i][1]%></td>
                    <td><%=bc_data[i][1]%></td>
                    <td><%=db_data[i][2]%></td>
                    <td><%=bc_data[i][2]%></td>
                    <td><%=db_data[i][3]%></td>
                    <td><%=bc_data[i][3]%></td>
                    <td><%=db_data[i][4]%></td>
                    <td><%=bc_data[i][4]%></td>
                    <!-- 데이터베이스와 블록체인 데이터의 일치 여부 -->
                    <% if(
                        db_data[i][0] == bc_data[i][0] &
                        db_data[i][1] == bc_data[i][1] &
                        db_data[i][2] == bc_data[i][2] &
                        db_data[i][3] == bc_data[i][3] &
                        db_data[i][4] == bc_data[i][4] 
                        ) {%>
                            <td style="color: white;background-color: blue;">
                                일치
                            </td>
                    <%}else{%>
                        <td style="color:white;background-color: red;">
                            불일치
                        </td>
                    <%}%>
                    <td><%=bc_data[i][5]%></td>
                </tr>
            <%}%>
        </tbody>
    </table>
</body>
</html>